@model FirstWebMVC.Models.Order

<h2>Tạo đơn hàng</h2>

<form asp-action="Create">

<label>Ngày</label>
<input asp-for="OrderDate" type="date"/>
<br />

<label>Khách hàng</label>

<select asp-for="CustomerID">

@foreach(var c in ViewBag.Customers)
{
<option value="@c.CustomerID">@c.CustomerName</option>
}

</select>

<br />

<button type="submit">Lưu</button>

</form>