@model FirstWebMVC.Models.Faculty

<h2>Thêm khoa</h2>

<form asp-action="Create">

    <div>
        <label>Tên khoa</label>
        <input asp-for="FacultyName" />
        <span asp-validation-for="FacultyName"></span>
    </div>

    <button type="submit">Lưu</button>

</form>