@model FirstWebMVC.Models.Student

<h2>Thêm sinh viên</h2>

<form asp-action="Create">
    
    <div>
        <label>Mã sinh viên</label>
        <input asp-for="StudentCode" />
    </div>

    <div>
        <label>Họ tên</label>
        <input asp-for="Fullname" />
    </div>

    <button type="submit">Lưu</button>

</form>