@model FirstWebMVC.Models.Student

<h2>Chỉnh sửa sinh viên</h2>

<form asp-action="Edit" method="post">

<div>
    <label>Mã sinh viên</label>
    <input asp-for="Studentcode" readonly />
    <span asp-validation-for="Studentcode" style="color:red"></span>
</div>

<div>
    <label>Họ tên</label>
    <input asp-for="Fullname" />
    <span asp-validation-for="Fullname" style="color:red"></span>
</div>

<button type="submit">Cập nhật</button>
<a href="/Student">Quay lại</a>

</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}