@model FirstWebMVC.Models.Student

<h2>Chỉnh sửa sinh viên</h2>

<form asp-action="Edit" method="post">

<div>
        <label>Mã SV</label>
        <input asp-for="StudentCode" readonly />
    </div>

    <div>
        <label>Họ tên</label>
        <input asp-for="Fullname" />
    </div>

    <div>
        <label>Khoa</label>
        <select asp-for="FacultyID">
            @foreach (var item in ViewBag.Faculties)
            {
                <option value="@item.FacultyID">
                    @item.FacultyName
                </option>
            }
        </select>
    </div>

<button type="submit">Cập nhật</button>
<a href="/Student">Quay lại</a>

</form>
