@model List<FirstWebMVC.Models.Student>

<h2>Danh sách sinh viên</h2>

<a href="/Student/Create">Thêm sinh viên</a>

<table border="1">
    <tr>
        <th>Mã sinh viên</th>
        <th>Họ tên</th>
        <th>Chức năng</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Studentcode</td>
        <td>@item.Fullname</td>
        <td>
            <a href="/Student/Edit/@item.Studentcode">Edit</a> |
            <a href="/Student/Delete/@item.Studentcode">Delete</a>
    </td>
    </tr>
}
</table>